

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
:root{
    --primary-color: #F94545;
    --text-black: black;
    --text-white: white;
}
body{
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}
*{
    box-sizing: inherit;
}
ul, li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p, ul, li, footer{
    margin: 0;
    padding: 0;
}
button, input{
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}